<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<!-- Robot pose -->
	<arg name="x" default="0" />
	<arg name="y" default="0" />
	<arg name="z" default="1" />
	<arg name="roll" default="0" />
	<arg name="pitch" default="0" />
	<arg name="yaw" default="0" />
	<arg name="robot_name" default="fourbot" />

	<!-- Launch other relevant files-->
	<include file="$(find fourbot)/launch/robot_description.launch" />

	<!-- World File -->
	<arg name="world_file" default="$(find fourbot)/worlds/empty.world" />
	<!-- <arg name="world_file" default="$(find fourbot)/worlds/arrows.world" /> -->

	<!-- Launch Gazebo World -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="use_sim_time" value="true" />
		<arg name="verbose" value="false" />
		<arg name="debug" value="false" />
		<arg name="gui" value="true" />
		<arg name="world_name" value="$(arg world_file)" />
	</include>


	<!-- spawn the robot using arguments in this vidoe -->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
		args="-urdf -param robot_description -model fourbot
			  -x $(arg x) -y $(arg y) -z $(arg z)
			  -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />

	<!--launch rviz-->
	<node name="rviz" pkg="rviz" type="rviz" respawn="false"
		args="-d $(find fourbot)/worlds/rviz_config_depth.rviz" />

	<!-- rviz_config.rviz -->
	<!-- rviz_config_depth.rviz -->

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find fourbot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
		<rosparam file="$(find fourbot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find fourbot)/config/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find fourbot)/config/global_costmap_params.yaml" command="load" /> 
		<rosparam file="$(find fourbot)/config/base_local_planner_params.yaml" command="load" />
	</node>		
</launch>